<footer class="page-footer text-white">
    <div class="container text-center text-md-left pt-4">
      <div class="row">
        <div class="col-md-3 mx-auto mb-4">
          <img src="../../../assets/logo/Captura.PNG" style="height: 120px; width: 200px;" alt="">
        </div>
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase foot-weight-bold">Productos</h6>
          <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px;">
  
          <ul class="list-unstyled">
            <li class="my-2">Fishboards</li>
            <li class="my-2">Softboards</li>
            <li class="my-2">Paddlesurf</li>
          </ul>
      </div>
      <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-uppercase foot-weight-bold">Más</h6>
        <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 110px; height: 2px;">
        
        <ul class="list-unstyled">
          <li class="my-2">Home</li>
          <li class="my-2">Sobre Nosotros</li>
          <li class="my-2">Contacto</li> 
        </ul>
    </div>
    <div class="col-md-3 mx-auto mb-4"  style="width: 500px;">
      <h6 class="text-uppercase foot-weight-bold">Contacto</h6>
      <hr class="bg-white mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px;">
      
      <ul class="list-unstyled">
        <li class="mx-2 pb-1"><i class="fas fa-home"></i> Valencia, calle Jorge Juan</li>
        <li class="mx-2 pb-1"><i class="fas fa-envelope"></i> joloca03@floridauni.es</li>
        <li class="mx-2 pb-1"><i class="fas fa-phone"></i> +34 612344578</li>
        <li class="mx-2 pb-1"><i class="fas fa-print"></i> +012345665</li>
      </ul>
  </div>
    </div>
    </div>
    <div class="background">
      <div class="container">
        <div class="row py-1 pb-2 d-flex aling-items-center">
          <div class="col-md-12 text-center">
            <a href=""><i class="fab fa-facebook" style="font-size:30px; margin-right: 20px;"></i></a>
            <a href=""><i class="fab fa-twitter" style="font-size:30px;margin-right: 20px; "></i></a>
            <a href=""><i class="fab fa-instagram"style="font-size:30px;  margin-right: 20px;"></i></a>
            <a href=""><i class="fab fa-youtube"style="font-size:30px;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
