<p-menubar [model]="items">
   <div>
        <button  *ngIf="user.rol === 'ADMIN_ROLE'" pButton pRipple type="button" (click)="admin()" icon="pi pi-user" class="p-button-rounded p-button-info p-button-text mr-2"></button>
        <img [src]="'http://localhost:3000/public/images/usuarios/'+ user.imagen" routerLink="/tienda/myperfil" styleClass="mr-2">
        <i class="pi pi-shopping-cart mr-4 ml-2 my-2 p-text-secondary" pBadge style="font-size: 23px; cursor: pointer;"styleClass="mr-2" [value]="productCarrito.length" severity="danger" routerLink="/tienda/carrito"></i>
        <button type="button" pRipple pButton label="Logout" (click)="logout()" icon="pi pi-power-off" style="margin-left:.25em"></button>
    </div> 
</p-menubar>
<p> hola</p>