:host::ng-deep .p-menubar{
position: relative;

}
  :host::ng-deep .p-button {
    background-color: #f8f9fa;
    color:#6366F1;
    border: 1px solid #f8f9fa;
  }
  .p-button:hover{
    background-color: #6366F1;
    color:#f8f9fa;
    border: 1px solid #6366F1;
  }