
   <section class="flex align-items-center justify-content-center">
     <div class="lg:col-7 px-3 pt-3">
         <h1 class="font-weight-bold p-3">Register</h1>
         <h4>Rellene los campos para crearse uns nueva cuenta</h4>
         <form action="">
            <div class="formgrid grid">
                <div class="lg:col-7">
                    <input type="nombre" pInputText placeholder="nombre" class="form-control my-3 p-4">
                </div>
            </div>
             <div class="formgrid grid">
                 <div class="lg:col-7">
                     <input type="email" pInputText placeholder="Email" class="form-control my-3 p-4">
                 </div>
             </div>
             <div class="formgrid grid">
                <div class="lg:col-7">
                    <input type="password" pPassword placeholder="password" class="form-control my-3 p-4">
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field lg:col-7 ">
                    <button class= ""pButton type="button" label="Login" ></button>
                </div>
            </div>
            <p>¿No tienes cuenta todavia? <a href="register.html">Registrate aquí</a></p>
         </form>
     </div>
</section>