
<main>
    <div class="header">
    </div>
    <form [formGroup]="formEdit">
        <div class="row justify-content-center">
            <div class="inputgroup">
                <span class="p-float-label">
                <input type="text" class="m-2" size="15" pInputText formControlName="nombre"> 
                <label for="float-input">Username</label>
                <i class="pi pi-lock"></i>
            </span>
            </div>
            </div>
        <div class="row justify-content-center">

            <div class="inputgroup">
                <span class="p-float-label">
                <input type="text" class="m-2" size="15" pInputText formControlName="email"> 
                <label for="float-input">Email</label>
                <i class="pi pi-lock"></i>
            </span>
            </div>
        </div>  
    </form>
    <div class="btn-action">
        <div class="row justify-content-center mt-4">
            <button pButton pRipple label="Actualizar" icon="pi pi-pencil" class="col-6 "></button>
            <button pButton pRipple type="button" icon="pi pi-times" label="Borrar" class="col-6 p-button-danger"></button>
        </div>
    </div>
</main>