<section class="container product my-5 pt-5">
    <div class="row mt-5">
        <div class="col-lg-5 col-md-12 col-12">
            <img [src]="'http://localhost:3000/public/images/productos/'+ producto.imagen" [alt]="producto.nombre"/>
        </div>
        <div class="col-lg-5 col-md-12 col-12">
            <h6>{{producto.categoria}}</h6>
            <h3 class="py-4">{{producto.nombre}}</h3>
            <h2>{{producto.precio}}€</h2> 
            <p-rating [ngModel]="producto.rating" [readonly]="true" [cancel]="false"></p-rating>
                <label for="vertical" style="display: block; margin-bottom:20px;">Cantidad</label>
                <p-inputNumber [(ngModel)]="value19" [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" inputId="horizontal"
                decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                </p-inputNumber>
                <p-button class="ml-2"label="Añadir al carrito" icon="pi pi-shopping-cart" (click)="showInfo()" iconPos="right"></p-button>
                <h4 class="mt-5 mb-5">Descripcion</h4>
                <span>{{producto.descripcion}}</span>
        </div>
    </div> 
    <p-toast position="top-right"></p-toast>

</section>