
 <div class="video-background">
    <div class="video-wrap">
        <div class="video">
            <video id="bgvid" autoplay loop muted playsinline>
                <source src="../../../../../assets/videos/video (6).mp4" style="height: 20px;"type="video/mp4">
            </video>
        </div>
    </div>
</div>
<div class="caption">
    <h4>PRIMAVERA/VERANO COLECTION 2022</h4>
    <h1>Ahora Nuestros Productos hasta con un 30%</h1>
    <h1>CODIGO DE DESCUENTO</h1>
    <a href="" class="btn btn-outline-light btn-lg">Codigo:MAXIMUS</a>
</div>



