
.video-background {
    background-position: relative;
    width: 100%;
    min-height: 100vh;
  }
  .caption {
    position: absolute;
    text-align: center;
    margin: auto;
    padding: 0%;
    top: 38%;
    width: 100%;
    color: white;
  }
  .caption h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3.2px;
    text-shadow: 1.6px 1.6px 12.8px black;
    padding-bottom: 16px;
  }
  .caption h3 {
    font-size: 2rem;
    text-shadow: 1.6px 1.6px 8px black;
  }