
   <section class="flex align-items-center justify-content-center">
     <div class="lg:col-7 px-3 pt-3">
         <h1 class="font-weight-bold p-3">Login</h1>
         <h4>Rellene los campos para acceder a tu cuenta</h4>
         <form action="">
             <div class="formgrid grid">
                 <div class="lg:col-7">
                     <input type="email" pInputText placeholder="Email" class="form-control my-3 p-4">
                 </div>
             </div>
             <div class="formgrid grid">
                <div class="lg:col-7">
                    <input type="password"  pPassword placeholder="password" class="form-control my-3 p-4">
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field lg:col-7 ">
                    <button class= ""pButton type="button" label="Login" ></button>
                </div>
            </div>
            <a routerLink="register">No tiene cuenta?</a>
         </form>
     </div>
</section>









